.Navbar{
  margin-top: 3.5%;
}

.UnorderedItems{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

.UnorderedItems li:hover{
  background-color: white;
  color: black;
  font-weight: bold;
}

.ListedItem{
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 18px;
  text-decoration: none;
}

.Navitems{
  font-family: cursive;
}

.ProductOuterDiv{
  margin-top: 5px;
  margin-bottom: 5px;
}

.ActionButton button{
  width: 100%;
}

.ButtonGroup{
  float: right;
}
