.Card{
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

.Required{
  color: red;
}

.Card h3{
  background-color: #0275d8;
  color: white;
  font-size: 24px;
  text-align: center;
  font-family: cursive;
}

.Button{
  width: 100%;
  margin-top: -15px;
  margin-bottom: 5px;
}

.Button button{
  margin-left: 20%;
  margin-right: 20%;
}

.Footer{
    text-align: center;
    font-size: 15px;
}
