.Card{
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

.Card h3{
  text-align: center;
  font-size: 24px;
  background-color: #0275d8;
  color: white;
}

.Card input{
    width: 100%;
}

.Required{
  color: red;
}

.Button{
    margin-left: 13.5%;
    margin-right: 13.5%;
    margin-bottom: 10px;
}
