.ShippingOuterDiv{
  margin-top: 5%;
}

.Header{
  padding: 10px;
  text-align: center;
  background-color: grey;
  color: white;
  margin-top: 3.5%;
  margin-bottom: -4.5%;
  font-weight: bold;
}

.Status{
  float: right;
  color: green;
  font-weight: bold;
}
